html {
	margin: 20px;
}

.content {
}

#treeWrapper {
	width: 522px;
	margin-right: -522px;
	float:left;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#tree {
	width: 500px;
	background: #fff;
	border: 1px solid #eee;
	padding: 10px;
}

#tree .entry {
	border: 1px solid #ccc;
	background: #f7f7f7;
	padding: 3px 5px;
	line-height: 1em;
	margin-bottom: 3px;
	margin-right: 2px;
	cursor: pointer;
	font-size: 11px;
	float: left;
	color: #000;
}

#tree .entry:hover {
	background-color: #e0e0e0;
}

#tree .entry.deleted {
	text-decoration: line-through;
}

#tree .entry.new {
	color: #888;
}

#tree .addnew {
	float: left;
	font-style: italic;
	color: #aaa;
	border: 1px solid #f7f7f7;
	background: #f7f7f7;
	font-size: 12px;
	text-align: center;
	padding: 0px;
	width: 11px;
	height: 11px;
	line-height: 11px;
	margin-top: 3px;
	cursor: pointer;
}

#tree .addnew:hover {
	border-color: #eef;
	background-color: #eef;
}

#details {
	margin-left: 540px;
	border: 1px solid #eee;
	padding: 10px;
}

#details .entry {
}

#details .entry .key {
	width: 200px;
	text-align: right;
	float:left;
	margin-top: 5px;
}

#details .entry input.key {
	padding: 0;
	border: none;
	background: #f7f7f7;
}

#details .entry .value {
	width: 400px;
	margin-left: 20px;
}

.checkmark {
	display: none;
}

.checkmark:before {
	content: "\2713";
	font-size: 30px;
	font-weight: bold;
	color: #0A0;
	vertical-align: middle;
}

.checkboxWrapper {
	max-height: 200px;
	overflow: scroll;
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 5px;
}

.checkboxWrapper label {
	line-height: 100%;
	margin: 0px 0px 2px 0px;
}

.checkboxWrapper input {
	margin-top: 0px !important;
	margin-right: 5px !important;
}
